.aboveFooterHeadingContainer {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 25px 20px -20px;
}
.aboveFooterHeading {
  display: flex;
  justify-content: space-between;
  font-size: 1.75rem;
  align-items: center;
  color: #389bc8;
  font-weight: bolder;
}

.aboveFooterBody {
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 3rem;
  display: flex;
  justify-content: flex-start;

  font-size: 1rem;
}
p {
  margin: 0.1em;
}

/* RESPONSIVE */
@media only screen and (max-width: 992px) {
  .aboveFooterBody {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .aboveFooterBody {
    font-size: 0.6rem;
    font-weight: bold;
  }
  .aboveFooterHeading {
    font-size: 0.8rem;
  }
}
