/* UTILITIES */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.myContainer {
  max-width: 85vw;
  margin-inline: auto;
}
.myContainerParent {
  padding-top: 4%;
  padding-bottom: 4%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.homeHeader {
  padding-top: 1lvh;
  padding-bottom: 2lvh;
  background-image: linear-gradient(to top right, #2d0604, #a00600),
    linear-gradient(to bottom right, #2d0604, #a00600);
  width: 100vw;
}
/* to APP Section */
.toApp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toAppText {
  width: 55%;
  display: flex;
  flex-direction: column;

  gap: 1rem;
}
.toAppTextHeading {
  font-size: 2rem;
  font-weight: 600;
}
.toAppTextBody {
  width: 54%;
  word-wrap: break-word;
  font-size: 0.9rem;
}

.PlayAppStore {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toAppImg {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* section: social media handles */
.socialMediaHandles {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.socialMediaLogos {
  display: flex;
  width: 55%;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}
.socialMediaLogoBg {
  background-color: #ffde17;
  width: 14%;
  height: 6.5vw;
  border-radius: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialMediaText {
  width: 45%;
  font-weight: 600;
  font-size: 2rem;
}
.minAlter {
  display: none;
}

/* BLOG SECTION */
.underlineYellow {
  position: relative;
}
.underlineYellow::after {
  content: "";
  position: absolute;
  background-color: #ffde17;
  height: 5px;
  width: 130%;
  bottom: -1rem;
  left: -15%;
  border-radius: 10px;
}
.blogSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
.blogSectionHeading {
  font-size: 1.7rem;
  font-weight: 520;
}

.blogCards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.ToBlogsButton {
  background-image: linear-gradient(to top right, #2d0604, #a00600);
  color: white;
  width: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  font-weight: bold;
}

/* Refer friends section */
.referFriends {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.referFriendsimg {
  width: 50%;
  display: flex;
  align-items: center;
}
.referFriendsimg > img {
  width: 100%;
}
.referFreindstext {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1rem;
  font-size: 1rem;
}
.referFriendsHeading {
  font-size: 2rem !important;
  font-weight: bolder;
}
.referFreindstext > div {
  word-wrap: break-word;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
}

/* SECTION: WHATSAPP STEPS*/
.whatsappSteps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.whatsappHeading {
  font-size: 2rem;
  font-weight: bolder;
}

.steps {
  display: flex;

  justify-content: space-between;
  width: 100%;
}
.whatsappimgs {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whatsappimgs > img {
  width: 90%;
}
.whatsappimgs > div {
  word-wrap: break-word;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

/* SECTION PARTNERS */
.ourPartners {
  padding-bottom: 10%;
}
.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.partners > span {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 500;
}
.line {
  height: 5px;
  background-color: #ffde17;
}
.partnersLogo {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.partnersLogo > img {
  width: 8rem;
}

/* Responsive */
@media only screen and (max-width: 1200px) {
  .referFriendsHeading {
    font-size: 1.5rem !important;
    font-weight: bolder;
  }
  .referFreindstext > div {
    word-wrap: break-word;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 992px) {
  .myContainerParent {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .finstaytext {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .findstayheading {
    font-size: 1rem;
  }

  .toAppTextHeading {
    font-size: 1.8rem;
  }
  .toAppTextBody {
    width: 70%;
  }
  .toAppImg > img {
    width: 100%;
  }

  .socialMediaLogos {
    gap: 1rem;
  }
  .socialMediaLogoBg {
    width: 17%;
    height: 8vw;
  }
  .socialMediaText {
    font-size: 1.7rem;
  }
  .referFreindstext {
    font-size: 1rem;
  }
  .referFriendsHeading {
    font-size: 1.5rem !important;
    font-weight: bolder;
  }
  .referFreindstext > div {
    word-wrap: break-word;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 500;
  }
  .whatsappimgs > div {
    font-size: 0.7rem;
  }
  .whatsappHeading {
    font-size: 1.8rem;
  }
  .partnersLogo > img {
    width: 6rem;
  }
}
@media only screen and (max-width: 768px) {
  .myContainerParent {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .findstayimage {
    width: 100%;
  }
  .finstaytext {
    font-size: 0.8rem;
  }
  .ToBlogsButton {
    width: 60%;
  }
  .referFriendsHeading {
    font-size: 1.2rem !important;
    font-weight: 900;
  }
  .referFreindstext > div {
    word-wrap: break-word;
    text-align: left;
    font-size: 0.6rem;
    font-weight: 500;
  }
  .whatsappHeading {
    font-size: 1rem;
    font-weight: bolder;
  }
  .partnersLogo > img {
    width: 5.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .myContainerParent {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .findstay {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .findstay > div {
    width: 90%;
    font-size: 0.7rem;
  }
  .findstayheading > h3 {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .toApp {
    flex-direction: column;
    position: relative;
  }
  .toApp > div {
    width: 80%;
  }
  .toAppTextHeading {
    font-size: 1.5rem;
  }
  .toAppTextBody {
    width: 95%;
  }
  .PlayAppStore {
    position: absolute;
    bottom: -7rem;

    margin-bottom: 3rem;
  }

  /* SOCIAL MEDIA HANDLES */
  .socialMediaHandles {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .socialMediaHandles > div {
    width: 90%;
  }
  .socialMediaLogoBg {
    width: 17%;
    height: 12vw;
  }

  .socialMediaText {
    font-size: 1.5rem;
  }
  /* BLOG SECTION */
  .blogCards {
    flex-wrap: wrap;
  }
  .referFriends {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .referFriends > div {
    width: 80%;
  }
  .referFriendsHeading {
    font-size: 1.2rem !important;
    font-weight: 900;
  }
  .referFreindstext > div {
    word-wrap: break-word;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 500;
  }
  .whatsappimgs > div {
    font-size: 0.33rem;
  }
  .partnersLogo > img {
    width: 4rem;
  }
}
