/* section regions */
.regionparent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
.Regiontext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text {
  margin-top: 20px;
}
.Region {
  display: flex;
  gap: 30px;
}
.regionphotos {
  position: relative;
}

.regionphotos > span {
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: white;
  font-weight: bold;
}
.regionphotos > span1 {
  position: absolute;
  bottom: 20px;
  left: 38px;
  color: white;
  font-weight: bold;
}
.regionphotos > img {
  width: 150px;
}

.ColivingProperties {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0;
  width: 100%;
}

/* SECTION ADVANTAGES */
.advanatages {
  justify-content: space-between;
  align-items: flex-start;
}
.advantagestext {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.advanatagespoints2 {
  list-style: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.advantagesphotos {
  background-color: #ffde17;
  border-top-left-radius: 20px;
  position: relative;
  height: 300px;
  width: 44.55%;
}
.advantagesphotos > img {
  position: absolute;
  bottom: 0;
}

/* SECTION QUICKSTAY PROPERTIES */
.quickStayProperties {
  padding-bottom: 0 !important;
}
.propertiesoverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.underlineyellow {
  position: relative;
}
.underlineyellow::after {
  content: "";
  position: absolute;
  background-color: #ffde17;
  height: 5px;
  width: 75%;
  bottom: -1rem;
  left: 30%;
  border-radius: 1rem;
}
.propertypara {
  text-align: center;
}

.propertiescard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.allproperties > button {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(to top right, #2d0604, #a00600);
  border: none;
  border-radius: 10px;
}

/* SECTION QUICKSTAY PROMISE */
.quickstaypromise {
  margin-top: 20vh;
  margin-left: 200px; 
}
.promiseimages {
  display: flex ;
}
.promisetext {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
.promisepara {
  margin-top: 10px;
}
.promisemark {
  margin-top: 10px;
  font-weight: bold;
}

/* SECTION IMPORTANCE OF QUICKSTAY */
.importanceofquickstay {
  display: flex;
  justify-content: space-between;
}

.importancemark {
  font-weight: bold;
}
.importanceicon {
  display: flex;
  flex-direction: column;
}
.importanceiconlist {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  font-size: small;
  column-gap: 50px;
  row-gap: 40px;
  text-align: center;
}
.importanceiconlist > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SECTION FindStay */
.findstay {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.findstayimage {
  width: 48%;
}
.findstayimage > img {
  width: 100%;
}
.finstaytext {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}
.findstayheading {
  font-weight: 900;
}

/*Responsive*/
@media only screen and (min-width: 1200px){
   .promiseheading{
    font-size: 2rem;
    font-weight: bolder;
   }
   .promisepara{
    word-wrap: break-word;
    font-size: 1rem;
    font-weight:500;

   }
   .promisemark>div{
    text-align: left;
    font-size: 1rem;
    font-weight: bolder;
   }
  .importanceheading{
    font-size: 2 rem;
    font-weight: bolder;
  }
  .importancepara > div {
    word-wrap: break-word;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
  }
  .importancemark>div {
    text-align: left;
    font-size: 1rem;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 992px) {
  .promiseheading{
    font-size: 1.2rem;
    font-weight: bolder;
   }
   .promisepara{
    word-wrap: break-word;
    
    font-size: 1rem;
    font-weight:500;
   }
   .promisemark>div{
    text-align: left;
    font-size: 0.9rem;
    font-weight: bolder;
   }
  .importanceheading{
    font-size: 1rem;
    font-weight: bolder;
  }
  .importancepara > div {
    word-wrap: break-word;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 500;
  }
  .importancemark>div {
    text-align: left;
    font-size: 0.8rem;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 768px){
  .promiseheading{
    font-size: 1.2rem;
    font-weight: bolder;
   }
   .promisepara{
    word-wrap: break-word;
    
    font-size: 1rem;
    font-weight:500;
   }
   .promisemark>div{
    text-align: left;
    font-size: 0.9rem;
    font-weight: bolder;
   }
  .importanceheading{
    font-size: 1rem;
    font-weight: bolder;
  }
  .importancepara > div {
    word-wrap: break-word;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
  }
  .importancemark>div {
    text-align: left;
    font-size: 1rem;
    font-weight: bolder;
  }
}
@media only screen and (max-width: 600px){
  .advanatages{
    flex-direction: column;
  }
  .advanatagespoints2{
    margin-bottom: 2rem;
  }
  .advantagesphotos{
   margin-bottom: -100px;
   width: 100%;
  }
  .quickStayProperties {
    display:none;
  }
  .promiseheading{
    font-size: 1.2rem;
    font-weight: bolder;
   }
   .promisepara{
   font-size: 1rem;
    font-weight:500;
   }
   .promisemark>div{
    text-align: left;
    font-size: 0.9rem;
    font-weight: bolder;
   }
   .quickstaypromise{
    flex-direction: column-reverse;
    gap: 1rem;
   }
  .importanceheading{
    font-size: 1rem;
    font-weight: bolder;
  }
  .importancepara > div {
    word-wrap: break-word;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
  }
  .importancemark>div {
    text-align: left;
    font-size: 1rem;
    font-weight: bolder;
  }
  .importanceofquickstay{
    flex-direction: column;
    gap: 1.5rem;
  }
}

