.Headerheadings2{
    background-color: yellow;
    border-radius: 20px;
    
    width: 25vw;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
    font-size: 0.9rem;
    padding: 3px;
    font-weight: 600;
}
   
.Remainingheader{
    padding-top: 10vh;
    /* background-color: #A00600; */
    height: 60vh;
    position: relative;

}
.remainingHeaderText{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
}
.headerperson{
    position: absolute;
    top: -25px;
    right: 20px;
   
   margin-right: 100px;
    width: 600px;
    height: 600px;
}
.Headerheadings{
    color:white;
}
