.Remainingheader {
  display: flex;

  justify-content: flex-start;
  /* background-color: #A00600; */
  /* height: 35rem; */
  height: 70lvh;
  position: relative;
  width: 100vw;
  padding-left: 7.5vw;
  align-items: center;
}
.remainingHeaderText {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}
.Headerheadings2 {
  background-color: yellow;
  height: 3rem;
  border-radius: 1.5rem;
  padding-left: 2rem;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;

  font-weight: 600;
}
.Headerheadings2 > p {
  font-size: 1rem;
}

.headerperson {
  position: absolute;
  bottom: -3rem;
  right: 10rem;

  width: 50rem;
}
.Headerheadings {
  color: white;
}

/* Responsive*/
@media only screen and (max-width: 1300px) {
  .headerperson {
    bottom: -3rem;
    right: 4rem;

    width: 47rem;
  }
}
@media only screen and (max-width: 1200px) {
  .headerperson {
    bottom: -3rem;
    right: 3rem;

    width: 34rem;
  }
}
@media only screen and (max-width: 600px) {
  .headerperson {
    display: none;
  }
  .Headerheadings2 > p {
    font-size: 0.8rem;
    font-weight: bolder;
  }
  .Remainingheader {
    justify-content: center;
  }
}
